@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    background:  url('https://tinyurl.com/4p2drz9c') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-weight: 400;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.name {
    margin: 120px 0 50px;
    font-size: 100px;
    text-shadow: 0 0 10px #333;
    line-height: 0;
}
.container {
    margin: 20px auto;
    width: 920px;
    height: 300px;
}
.box1-border, .box2-border, .box3-border, .box4-border {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background: #E9573F;
    margin: 25px 15px;
    border-radius: 10px;
    box-shadow: 0 0 25px #333;
}
.box1, .box2, .box3, .box4 {
    position: absolute;
    margin: 3px;
    padding: 22px;
    width: 150px;
    height: 150px;
    background: #FC6E51;
    border-radius: 10px;
    text-shadow: 0 0 20px #333;
    cursor: pointer;
    z-index: 4;
    transition: padding-top 200ms, padding-bottom 200ms;
}
.box2 {
    background: #CCD1D9;
}
.box2-border {
    background: #AAB2BD;
}
.box3 {
    background: #FFCE54;
}
.box3-border {
    background: #F6BB42;
}
.box4 {
    background: #A0D468;
}
.box4-border {
    background: #8CC152;
}
.box1-border:hover .box1 {
    transition: padding 300ms;
    padding: 0 22px;
    box-shadow: 0 1px 0px #666;
}
.box2-border:hover .box2 {
    transition: padding 300ms;
    padding: 0 22px;
    box-shadow: 0 1px 0px #666;
}
.box3-border:hover .box3 {
    transition: padding 300ms;
    padding: 0 22px;
    box-shadow: 0 1px 0px #666;
}
.box4-border:hover .box4 {
    transition: padding 300ms;
    padding: 0 22px;
    box-shadow: 0 1px 0px #666;
}
i {
    font-size: 96px;
}
.line {
    width: 600px;
    height: 1px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 10px #333;
}
p {
    margin: 14px 0 40px;
}
input {
    position: absolute;
    padding: 0 20px;
    left: 10px;
    bottom: 8px;
    border: 0;
    background: #eee;
    font-size: 16px;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    z-index: 2;
}
button {
    position: absolute;
    color: #000;
    left: 155px;
    bottom: 8px;
    border: 0;
    width: 32px;
    height: 32px;
    margin: 4px 0 0;
    line-height: 0;
    border-radius: 3px;
}
.enter {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-size: 20px;
    left: 10px;
    width: 180px;
    box-shadow: inset 0 -2px 0 1px #656D78;
}
.enter:hover {
    box-shadow: inset 0 -1px 0 0px #656D78;
}
.enter:active {
    box-shadow: inset 0 1px 0 1px #656D78;
}
button i {
    transition: color 200ms;
    font-size: 16px;
}
button:hover i {
    color: #393;
}
.footer-container {
    width: 100%;
    height: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer {
    margin: 0 auto;
    width: 360px;
    height: 22px;
    padding: 2px 30px 0 0;
    background: rgba(255,255,255,0.2);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background 300ms;
}
.footer i {
    font-size: 16px;
    margin: 0 5px 0 20px;
}
.footer:hover {
    background: rgba(255,255,255,0.7);
}